/* General Site Styles */
.header-text {
  padding: 10px;
}

.block-divider-short {
  width: 35px;
}

.block-divider {
  width: 75px;
  height: 5px;
  border: 0;
  background-color: #444;
  margin-bottom: 2rem;
}

.block-divider-white {
  background-color: white;
}

/* Containers */
.container-wrapper-green {
  background-color: #8cc63f;
  color: white;
}

.content-container {
  padding-top: 75px;
  padding-bottom: 75px;
}

.container-wrapper-cities {
  padding-bottom: 0px;
}

.container-wrapper-cities {
  max-width: 100%;
}

/* Menu */

.nav-text:hover {
  color: #8cc63f;
  text-decoration: none;
}

.nav-text {
  color: #515151;
  text-decoration: none;
  font-size: 1.09rem;
  list-style-type: none;
  letter-spacing: 4px;
}

.navbar-brand img {
  height: 100px;
}

.navbar-nav a.active {
  border-bottom: 3px solid #8cc63f;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(140,198,63, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(140, 198, 63);
}

/* Introduction */

#intro-text {
  margin-bottom: 40px;
}

#intro-text,
#intro-text-tagline {
  text-align: center;
}

#intro-text-tagline {
  margin-top: 40px;
  font-weight: bold;
  font-size: 1.25rem;
}

/* Functions */

.function {
  text-align: center;
  margin-bottom: 40px;
}

.function i {
  margin-bottom: 20px;
  font-size: 5rem;
  display: block;
}

h3.function-title {
  margin-bottom: 20px;
}

/* Hero */
#hero-image {
  height: 300px;
  width: 100%;
  background: url("../images/scooter-home-hero.jpg") no-repeat center center;
  background-size: cover;
}

#hero-image-about-us {
  height: 300px;
  width: 100%;
  background: url("../images/scooter-aboutus-hero.jpg") no-repeat center center;
  background-size: cover;
}

#hero-image-contact-us {
  height: 300px;
  width: 100%;
  background: url("../images/scooter-contactus-hero.jpg") no-repeat center
    center;
  background-size: cover;
}

#hero-outer {
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* Cities */

.cities {
  background: url("../images/scooter-cities.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow: hidden;
}

.cities div {
  color: #fafafa;
  background-color: rgba(0, 0, 0, 0.6);
  width: 23%;
  float: left;
  padding: 30px 0 0 10px;
  text-align: center;
  margin: 20px;
  margin-right: 7px;
}

.city-name-text {
  font-size: 1.5625rem;
}

i.fas.fa-city {
  font-size: 1.875rem;
  padding: 22px;
}

/* About us */

.wrap-collabsible {
  margin-bottom: 1.2rem;
}

input[type="checkbox"] {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;

  padding: 1rem;

  color: #a7a7a7;
  background: #fffff4;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #8cc63f;
}

.lbl-toggle::before {
  content: " ";
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);

  transition: transform 0.2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: rgba(250, 224, 66, 0.2);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0.5rem 1rem;
  margin-bottom: 8px;
}

/* Footer */

.social-networks {
  text-align: center;
}

.social-networks li {
  display: inline;
}

.social-networks i {
  font-size: 1.875rem;
  margin: 1%;
  padding: 5%;
  color: #777777;
}

.telephone,
.company {
  color: #000000;
}

.telephone-container,
.company-container {
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
}

#telephone-link:hover {
  color: #ffffff;
  text-decoration: none;
}

#company-link:hover {
  color: #ffffff;
  text-decoration: none;
}

#telephone-link,
#company-link {
  color: #000000;
}

.telephone-link-container,
.company-link-container {
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
}

/* Media Queries */

@media (max-width: 992px) {
  .navbar-nav a.active {
    border-bottom: 3px solid #8cc63f;
    max-width: 20%;
  }
}

@media (max-width: 1393px) {
  .cities div {
    width: 100%;
    clear: both;
    height: 200px;
    padding: 15px;
  }
}
