a:hover {
    color: #8cc63f;
    text-decoration: none;
}

a {
    color: #515151;
    text-decoration: none;
}

h2 {
    padding: 10px;
}

.block-divider-short {
    width: 35px;
}

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
    margin-bottom: 2rem;
}

.block-divider-white {
    background-color: white;
}

/* Containers */
.container-wrapper-green {
    background-color: #8cc63f;
    color: white;
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Menu */
#menu{
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#logo, #menu{
    line-height: 85px;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
    padding-bottom: 10px;
}
 
#logo-cover {
    width: 50px;
    height: 50px;
    background: url("../images/logo.png") no-repeat center center;
    height:100%;
}

/* Functions */

.function {
    text-align: center;
    margin-bottom: 40px;
}

.function i {
    margin-bottom: 20px;
    font-size: 80px;
    display: block;
}

/* Hero */
#hero-image{
    height:300px;
    width: 100%;
    background: url("../images/scooterheroedit.jpg") no-repeat center center;
    background-size: cover;

}

#hero-outer{
    height:300px;
    width: 100%;
    overflow:hidden;
    position: relative;
}

/* Cities */
.cities {
    
}

/* Footer */
footer{
    height: 150px;
}

.social-networks{
    text-align: center;
}

.social-networks li {
    display:inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}

#telephone {
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px
}